{% extends "base.html" %}

{% block title %}Список груп{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Список груп</h2>

    <a href="{% url 'create_group' %}" class="btn btn-primary mb-3">Створити нову групу</a>

    <div class="row">
        {% for group in groups %}
            <div class="col-md-6 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <a href="{% url 'group_detail' pk=group.id %}">{{ group.name }}</a>
                        <p>Кількість студентів: {{ group.students.all|length }}</p>
                        <a href="{% url 'group_delete' pk=group.id %}">Видалити<a>
                        <a href="{% url 'upload_file' %}">Завантажити<a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-muted">Групи ще не створені.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}

