{% extends "base.html" %}

{% block title %}Register{% endblock %}
 {% load static %}
{% block content %}
<div class="container vh-100 d-flex flex-column justify-content-center align-items-center">

  <form class="text-center" method="POST">
  {% csrf_token %}
  <img class="mb-4" src={% static 'imgs/icon.png' %} alt="" width="72" height="110">
    <h1 class="h3 mb-3 fw-normal">Реєстрація нового користувача</h1>
    {% if form.errors %}
      <p style="color:red;">Неправильний логін або пароль. Спробуйте ще раз.</p>
    {% endif %}
    <label for="username">Username</label>
    <div class="form-floating mb-3">
      {{ form.username }}
    </div>
    <label for="password">Email</label>
    <div class="form-floating mb-3">
      {{ form.email }}
    </div>
    <label for="password">Password</label>
    <div class="form-floating mb-3">
      {{ form.password }}
    </div>    
    <div class="form-floating mb-3">
      {{ form.role }}
    </div>

    <button class="w-100 btn btn-lg mt-3 btn-success" type="submit">Зареєструвати</button>
  </form>
</div>
{% endblock %}
