:root {
  --night: #3d4a3e;
  --green: #1fa648;
  --dark: #767a57;
  --swap: #a9af78;
  --gray: #e2e4d0;
}

body, .custom_footer_bg{
  background: var(--gray);
}

.hero_container {
  min-height: 90vh;
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("imgs/hero_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_container h2 {
  font-size: 64px; 
  color: var(--green);
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

.second_text {
  color: var(--swap);
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

.custom_bg {
  background-color: var(--night);
}

